<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions</key>
		<dict>
			<key>Beginning</key>
			<string>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{
    self.window = [[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]];
    // Override point for customization after application launch.
    self.window.backgroundColor = [UIColor whiteColor];</string>
			<key>End</key>
			<string>    [self.window makeKeyAndVisible];
    return YES;
}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>AppModel.h</key>
		<dict>
			<key>Path</key>
			<string>AppModel.h</string>
			<key>Group</key>
			<string>Models</string>
		</dict>
		<key>AppModel.m</key>
		<dict>
			<key>Path</key>
			<string>AppModel.m</string>
			<key>Group</key>
			<string>Models</string>
		</dict>
		<key>DataModel.h</key>
		<dict>
			<key>Path</key>
			<string>DataModel.h</string>
			<key>Group</key>
			<string>Models</string>
		</dict>
		<key>DataModel.m</key>
		<dict>
			<key>Path</key>
			<string>DataModel.m</string>
			<key>Group</key>
			<string>Models</string>
		</dict>
		<key>MachineDataModel.h</key>
		<dict>
			<key>Path</key>
			<string>MachineDataModel.h</string>
			<key>Group</key>
			<string>Machine</string>
		</dict>
		<key>MachineDataModel.m</key>
		<dict>
			<key>Path</key>
			<string>MachineDataModel.m</string>
			<key>Group</key>
			<string>Machine</string>
		</dict>
		<key>AppConstants.h</key>
		<dict>
			<key>Path</key>
			<string>AppConstants.h</string>
			<key>Group</key>
			<string>Utilities</string>
		</dict>
		<key>MCErrorViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>MCErrorViewController.xib</string>
		</dict>
		<key>MCMainViewController.xib</key>
		<dict>
			<key>Path</key>
			<string>MCMainViewController.xib</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for a Manticore application. It provides the initial setup for manticore communication and manticore view factory.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.yetiManticore</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:3</string>
		<string>AppModel.h</string>
		<string>AppModel.m</string>
		<string>DataModel.h</string>
		<string>DataModel.m</string>
		<string>MachineDataModel.h</string>
		<string>MachineDataModel.m</string>
		<string>AppConstants.h</string>
		<string>MCErrorViewController.xib</string>
		<string>MCMainViewController.xib</string>
	</array>
</dict>
</plist>
